.sidebar {
  width: 20%;
  background-color: #000000;
  position: fixed;
  left: 0;
  height: 100vh;
  .logo {
    padding-top: 20px;
    text-align: left;
    img {
      width: 190px;
      height: 70px;
      object-fit: cover;
    }
  }
}
