.header {
  position: sticky;
  height: 70px;
  background-color: red;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .pre-next-ctl {
    margin-left: 130px;
  }
}
